version: '3.7'

services:
  api:
    container_name: api
    image: node:16-alpine
    working_dir: /usr/src/app
    ports:
      - '${APP_PORT}:3000'
    command: npm run dev
    init: true
    volumes:
      - .:/usr/src/app
    depends_on:
      - redis
      - postgres

  postgres:
    container_name: postgresql
    image: 'bitnami/postgresql:13'
    restart: always
    ports:
      - '${POSTGRESQL_PORT}:5432'
    volumes:
      - postgresql_data:/bitnami/postgresql
    environment:
      POSTGRESQL_USER: ${POSTGRESQL_USER}
      POSTGRESQL_DATABASE: ${POSTGRESQL_DATABASE}
      POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}

  redis:
    container_name: redis
    image: 'bitnami/redis:6.2'
    restart: always
    ports:
      - '${REDIS_PORT}:6379'
    volumes:
      - redis_data:/bitnami/redis/data
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}

volumes:
  postgresql_data:
    driver: local
  redis_data:
    driver: local
